body {
  background-color: #000000;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  margin-top: 50px;
  width: 375px;
  height: 559px;
  background-color: #ffffff;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-face-color: #DEDBDB;
}

.fa-1 {
  position: relative;
  top: 40px;
  padding-left: 10px;
  font-size: 15px;
  color: #DEDBDB;
}

.img {
  position: relative;
  padding-left: 40px;
  top: 10px;
}

.content {
  position: relative;
  float: right;
  line-height: 8px;
  bottom: 45px;
  right: 85px;
}

.distance {
  position: relative;
  padding-left: 3px;
  padding-top: 10px;
}

.fa-2 {
  position: relative;
  float: right;
  left: 70px;
  bottom: 28px;
  font-size: 30px;
  color: #DEDBDB;
}

.schedule {
  position: relative;
  padding-left: 15px;
  padding-top: 35px;
}

.east, h3 {
  position: relative;
  padding-top: 20px;
}

.line, h1 {
  font-size: 1.5em;
  font-weight: inherit;
  position: relative;
  margin-bottom: 10px;
  padding-top: 15px;
  line-height: 10px;
}

.destination {
  position: relative;
  padding-top: 10px;
  margin-bottom: 20px;
  padding-left: 2px;
}

.frequency {
  position: relative;
  float: right;
  text-align: right;
  padding-right: 60px;
  bottom: 60px;
  line-height: 20px;
}

.details {
  position: relative;
  float: right;
  text-align: right;
  bottom: 50px;
  right: 60px;
}

.fa-3 {
  position: relative;
  float: right;
  left: 130px;
  line-height: 3px;
  font-size: 15px;
  color: #DEDBDB;
  bottom: 45px;
}

.fa-4 {
  position: relative;
  float: right;
  font-size: 15px;
  color: #DEDBDB;
  left: 5px;
  bottom: 50px;
}

.fa-5 {
  position: relative;
  float: right;
  font-size: 15px;
  color: #DEDBDB;
  left: 110px;
  bottom: 50px;
}

.fa-6 {
  position: relative;
  float: right;
  font-size: 15px;
  color: #DEDBDB;
  left: 100px;
  bottom: 50px;
}

.h_line, hr {
  position: absolute;
  width: 100%;
}
